{% extends 'base.html' %}
{% block content %}

<h4> Welcome to OurCalendar</h4>

<div id="about">
    Have you ever hosted an event or meeting with a handful of participants where<br>
    finding the right time that fit everyone's schedule, took longer than the time<br>
    needed to conduct the meeting. Even with tools like google calendar and <br>
    calendaly, this problem is not solved.<br>
    <br>
    OurCalendar is an app enabled to make scheduling automatic. <br>
    <br>
    Now with OurCalendar, <br>
    any user who has an account can simply invite users to an event, setting some <br>
    preferences for time of day and duration, and OurCalendar will automate finding <br>
    a day and time that suits EVERYONE's schedule and send out all calendar invites.
</div>   


{% endblock %}
