<!DOCTYPE html>
<html>
<head>
	<title>OurCalendar</title>
</head>
<body>


{% if "user_id" in session %}
	<div display: inline-block>
	 <form action="/">
	  <input type="submit" name="loggedOut" value="Log Out">
	</form>	

	</div>

{% else %}

	<div display: inline-block>
	 <form action="/login">
	  <input type="submit" name="loggedIn" value="Log In">
	</form>	

	</div>
{% endif %}

  <hr>

  <div class="flashes">
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
  </div>

  {% block content %}{% endblock %}

</body>
</html>