{% extends "base.html" %}
{% block content %}


<form action="/homepage" method="POST">
    Event: <type="text" name="name"> <p> {{ event_name }} </p>
    Event description: <type="text" name="description"> <p> {{ event_description }} </p>
    <br>

    <div>
        Event starts: 
        <p> {{ start_time }} - {{ end_time }}</p>
    </div>

    Would you like to attend event?
    <input type="radio" name="attend" value="yes"> accept
    <input type="radio" name="attend" value="no"> decline
    <br>

    <input type="submit" value="submit"> 
</form>



{% endblock %}
