{% extends "base.html" %}
{% block content %}

<div class="pill-nav">
  <a class="active" href="/">Home</a>
  <a href="/inbox">Notifications</a>    
  <a href="/invite">Create Event</a>
</div>

<form action="/process-invitation" method="POST">
    Event: <type="text" name="name"> <p> {{ event_name }} </p>
    Event description: <type="text" name="description"> <p> {{ event_description }} </p>
    <br>

    <input id="name_event" name="name_event" type="hidden" value="{{ event_name }}">
    <input id="description" name="description_event" type="hidden" value="{{ event_description }}">
    <input id="event_id" name="event_id" type="hidden" value="{{ event_id }}">
    

    <div>
        Event starts: 
        <p> {{ start_time }} - {{ end_time }}</p>
        <input id="start_event" name="start_event" type="hidden" value="{{ start_time }}">
        <input id="end_event" name="end_event" type="hidden" value="{{ end_time }}">
    </div>

    Would you like to attend event?*
    <input type="radio" name="attend" value="yes"> accept
    <input type="radio" name="attend" value="no"> decline
    <br>

    <input type="submit" value="submit"> 
</form>



{% endblock %}
