{% extends "base.html" %}
{% block content %}



<form action="/process-invitation" method="POST">
    <p><strong>Event Name</strong></p>
    <type="text" name="name"> <p> {{ event_name }} </p>
    <br>
    <p><strong>Event Description</strong></p>
    <type="text" name="description"> <p> {{ event_description }} </p>
    <br>

    <input id="name_event" name="name_event" type="hidden" value="{{ event_name }}">
    <input id="description" name="description_event" type="hidden" value="{{ event_description }}">
    <input id="event_id" name="event_id" type="hidden" value="{{ event_id }}">
    

    <div>
        <p><strong>Event TIme:</strong></p> 
        <p> {{ start_time }} - {{ end_time }}</p>
        <input id="start_event" name="start_event" type="hidden" value="{{ start_time }}">
        <input id="end_event" name="end_event" type="hidden" value="{{ end_time }}">
    </div>
    <br>


    <p><strong>Would you like to attend event?*</strong></p>  
    <div class="btn-group btn-group-toggle jo-radio" data-toggle="buttons">
  <label class="btn btn-primary jo-radio">
    <input type="radio" name="attend" id="jo-radio" autocomplete="off" value="yes" checked=""> Attend
  </label>
  <label class="btn btn-primary jo-radio">
    <input type="radio" name="attend" id="jo-radio" autocomplete="off" value="no"> Decline
  </label>
</div>
<br>
<br>
    <button type="submit" class="btn btn-secondary" value="submit">Submit</button>

</form>



{% endblock %}
