{% extends "base.html" %}
{% block content %}


<h1>The host set your attendence as vital to this event.</h1>

<form action="/assess-priority" method="POST">

Would you like to be removed as key member of the event and allow it to continue without you?
<br> 
<br>

Or, would you like to find a new time for the event to take place?
<br>
<br>

    <input type="radio" name="reason" value="new_time"> A new event time.
    <br>
    <input type="radio" name="reason" value="not_priority"> Not a key member.
    <br>
    <br>

    <input id="event_id" name="event_id" type="hidden" value="{{ event_id }}">
    <input id="inv_ids" name="inv_ids" type="hidden" value="{{ inv_ids }}">
   

    <input type="submit" value="submit"> 


</form>

{% endblock %}
